body{
    display: flex;
 align-items: center;
 justify-content: center;
}
.playarea{
    padding: 2em;
    display: flex;
border-style: solid;
/* width: 40em;
height: 40em; */
background-color: silver;
text-align: center;
justify-content: center;
align-items: center;
flex-direction: column;


}
.bord{
    display: flex;
    flex-wrap: wrap;
    width: 29.8em;
    background-color: white;
    height: 29.8em;
    align-content: center;
    justify-content: center;

}
.bord p{
    width: 2.6em;
    margin: 0;
    height: 2.6em;
display: flex;
align-content: center;
justify-content: center;
align-items: center;
font-size: 1em;
font-family:Arial, Helvetica, sans-serif;
font-weight: bolder;

   /* padding: 0em 1.2em; */
background-color: grey;
    border-style: solid;
    /* border-width: 1pxs; */
}
.bord p:hover{
    background-color: aliceblue;
}
p{
    display: inline;
}
.textOver{
    width: 20em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    
}