.pris{
  position: absolute;
  color: white;
  background-color: rgb(35, 2, 167);
  padding: 0.1em;

}
.inputs{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 0.5em;
}
#cars{
  padding-top: 10px;
  display: flex;
  gap: 2em;
  text-align: center;
  flex-wrap: wrap;
}
img{
  width: 20em;
  height: auto;
  max-height: 13em;
}
.newCar{
  text-align: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  flex-wrap: wrap;
  background-image: linear-gradient(orange, rgb(247, 211, 143));
}
body{
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.carClass{
  color: white;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center ;
  border-style: solid;
  border-color: black;
  width: 23em;
  justify-content: space-around;
  background-image: linear-gradient(blue, black);
}
.textDiv p{
  font-size: 1.2em;
  font-family:'Courier New', Courier, monospace;
}
.bikeClass{
  color: white;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center ;
  border-style: solid;
  border-color: black;
  width: 23em;
  justify-content: space-around;
  background-image: linear-gradient(blue, black);
}
.gokartClass{
  color: white;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center ;
  border-style: solid;
  border-color: black;
  width: 23em;
  justify-content: space-around;
  background-image: linear-gradient(blue, black);
}
.buttons{
  display: flex;
  gap: 10em;
  width: 80em;

  flex-wrap: wrap;
  height: auto;
  justify-content: space-between;


  
}
.buttons button{
  width: 8em;
  height: 3em;
  color: white;
  background-color: black;
  font-size: 1em;
}
.buttons button:hover{
  color: orange;
}
